</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
<script src="/js/app.js"></script>
<%- typeof scripts !== 'undefined' ? scripts : '' %>
</body>
</html>
